---
# Checks:          'clang-diagnostic-*,clang-analyzer-*,modernize-*'
Checks:          '-*,misc-unused-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
...

